<!DOCTYPE html>
<html>
<head>
  <title>G3AssessmentWeek12</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
</head>
<body>
<h1>Cageflix</h1>
<p>Netflix for Nic Cage Movies </p>

<%= yield %>

</body>
</html>
